MISTRAL_API_KEY=your_api_key_here
# Put your actual Postgres connection string here - Be sure to use the same values as in postgres/.env.example
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@mistral-postgres:5432/your_postgres_db?sslmode=disable
